:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --title-color: #212121;
  --description-color: #757575;
  --adress-header-color: #757575;
  --accent-color: #2196f3;
  --background: #2f303a;
  --background-section: #f5f4fa;
  --bcg-btn: #f5f4fa;
  --bcg-item-border: #eeeeee;
  --bgc-card: #f5f4fa;
  --text-color-white: #ffffff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  font-style: normal;
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .header .container {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header .container {
    justify-content: space-between;
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.work .title {
  margin-bottom: 50px;
}

.team .title {
  margin-bottom: 50px;
}

.clients .title {
  margin-bottom: 50px;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.logo-second-color {
  color: var(--accent-color);
}

.logo-light-theme-color {
  color: #000000;
}

.footer .logo {
  margin-bottom: 20px;
  text-align: center;
  margin-left: auto;
}

@media screen and (max-width: 1199px) {
  .footer .logo {
    display: flex;
    justify-content: center;
  }
}

.logo-dark-theme-color {
  color: var(--text-color-white);
}

.hero,
.footer {
  background-color: var(--background);
}

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 30px;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
}

.social-list-link:hover {
  background-color: #2196f3;
}

.social-list-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function);
}

.social-list-link:hover .social-list-svg {
  fill: var(--text-color-white);
}

/* ----- menu ----- */
.portfolio-menu {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

.portfolio-menu-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1200) {
  .portfolio-menu-list {
    justify-content: center;
  }
}

.portfolio-menu-item:not(:last-child) {
  margin-right: 8px;
  padding-bottom: 15px;
}

.portfolio-menu-list-link {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background: var(--bcg-btn);
  min-width: 73px;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.portfolio-menu-list-link:hover, .portfolio-menu-list-link:focus {
  color: var(--text-color-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 34px;
}

@media screen and (max-width: 1199px) {
  .portfolio-items__card2 {
    max-width: 306px;
  }
}

.portfolio-items-li:not(:last-child) {
  margin-bottom: 30px;
}

.portfolio-items__pic {
  margin-left: auto;
  margin-right: auto;
}

.portfolio-items-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.portfolio-items-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

.portfolio-items-link {
  transition: box-shadow 250ms var(--timing-function);
}

.portfolio-items-link:hover, .portfolio-items-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-items__wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-items-border {
  padding: 20px 24px;
  border-left: 1px solid var(--bcg-item-border);
  border-right: 1px solid var(--bcg-item-border);
  border-bottom: 1px solid var(--bcg-item-border);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: all 250ms var(--timing-function);
}

@media screen and (max-width: 1199px) {
  .overlay {
    display: none;
  }
}

.portfolio-items-link:hover .overlay {
  transform: translateY(0%);
}

.portfolio-items-link:focus .overlay {
  transform: translateY(0%);
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.menu-button {
  display: inline-flex;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
  fill: var(--accent-color);
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  z-index: 1;
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .menu-container {
    padding: 60px 0;
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    margin-left: 93px;
  }
}

.menu-container.is-open {
  display: block;
}

@media screen and (max-width: 767px) {
  .mob_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list-li:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .nav-list-li {
    padding-bottom: 28px;
  }
}

.nav-list-link {
  position: relative;
}

@media screen and (min-width: 768px) {
  .nav-list-link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .nav-list-link {
    display: inline-block;
    padding-bottom: 12px;
  }
}

.nav-list-link:first-child {
  color: #212121;
}

.nav-list-link.current {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .nav-list,
  .adress-list {
    display: flex;
    align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .adress {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .adress {
    margin-left: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .adress {
    margin-left: 305px;
  }
}

@media screen and (min-width: 768px) {
  .adress-list {
    margin-left: auto;
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .adress-list {
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .adress-list-li:not(:last-child) {
    margin-right: 30px;
  }
}

.adress-list-link {
  font-style: normal;
  color: var(--adress-header-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .adress-list-link {
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1199px) {
  .adress-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .adress-list-link {
    display: inline-block;
    padding-bottom: 16px;
  }
}

.adress-list-svg {
  fill: var(--adress-header-color);
  margin-right: 10px;
  transition: fill 250ms var(--timing-function);
}

.adress-list-link:hover .adress-list-svg {
  fill: var(--accent-color);
}

.nav-list-link,
.adress-list-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
}

@media screen and (max-width: 767px) {
  .nav-list-link,
  .adress-list-link {
    font-size: 18px;
    line-height: 1.167;
  }
}

@media screen and (min-width: 768px) {
  .nav-list-link,
  .adress-list-link {
    font-size: 14px;
    line-height: 1.143;
  }
}

.nav-list-link:hover,
.nav-list-link:focus,
.adress-list-link:hover,
.adress-list-link:focus {
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__cont-social-wrap {
  align-items: baseline;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__cont-social-wrap {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer__cont-social-wrap {
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .footer-list-li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer-list-li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adress {
  color: var(--text-color-white);
}

.footer-adress-list-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-adress, .footer-adress-list-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .footer__adress {
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .connect-us {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .connect-us {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
  }
}

.connect-us-social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.connect-us-social-list-svg {
  fill: #fff;
}

.title-dark-theme {
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-white);
}

@media screen and (max-width: 1199px) {
  .title-dark-theme {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .subscribe-form {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    margin-left: auto;
  }
}

.subscribe-form__input {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  outline: none;
  font-family: inherit;
  padding-left: 16px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--text-color-white);
  background-color: inherit;
}

@media screen and (min-width: 768px) {
  .subscribe-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    width: 358px;
  }
}

.subscribe-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input:focus {
  border: 1px solid rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199px) {
  .subscribe-form__inp-wrap {
    display: flex;
    justify-content: center;
  }
}

.subscribe-form__btn-wrapper {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1199px) {
  .subscribe-form__btn-wrapper {
    margin-top: 20px;
  }
}

.subscribe-form__submit-btn {
  position: relative;
  text-align: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding-left: 29px;
  text-align: left;
  color: var(--text-color-white);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .subscribe-form__submit-btn {
    margin-left: 12px;
  }
}

.subscribe-wrapper {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .subscribe-wrapper {
    display: flex;
    align-items: flex-start;
  }
}

.subscribe-send-svg {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}
/*# sourceMappingURL=portfolio.css.map */