.features-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  &-li {
    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 30px);
      margin-top: 30px;
      margin-left: 30px;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 4 - 30px);
    }
  }

  &-li:not(:last-child) {
    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  &-li::before {
    display: block;
    content: '';
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--bgc-card);
    border-radius: 4px;
    margin-bottom: 30px;
  }

  // &-li:not(:last-child) {
  //   margin-right: 30px;
  // }

  &-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 10px;
  }

  &-text {
    min-width: 270px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--description-color);
  }
}

.icon- {
  &details::before {
    background-image: url(../images/features/details.svg);
  }
  &clock::before {
    background-image: url(../images/features/clock.svg);
  }
  &diagram::before {
    background-image: url(../images/features/diagram.svg);
  }
  &astronaut::before {
    background-image: url(../images/features/astronaut.svg);
  }
}
