.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  &__cont-social-wrap {
    align-items: baseline;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      justify-content: space-around;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &-list-li {
    @media screen and (max-width: 1199px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-list-li:not(:last-child) {
    margin-bottom: 9px;
  }

  &-adress {
    color: var(--text-color-white);
  }

  &-adress-list-link {
    color: rgba(255, 255, 255, 0.6);
  }

  &-adress,
  &-adress-list-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
  }

  &__adress {
    @media screen and (min-width: 1200px) {
      margin-top: 20px;
    }
  }
}

.connect-us {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
  }

  &-social-list-link {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &-social-list-svg {
    fill: #fff;
  }
}

.title-dark-theme {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-white);
}

@import '../components/form-subscribe';
