.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 767px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-mobile@2x.jpg);
  }

  // ----------------------- tablet ----------------------

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px),
    screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-tablet@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  // ----------------------- END tablet ----------------------

  &-title {
    font-weight: 900;
    font-size: 26px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-color-white);

    margin-top: 200px;
    @media screen and (max-width: 1199px) {
      font-size: 26px;
      line-height: 1.62;
      max-width: 360px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.364;
      max-width: 696px;
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-desktop@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
