.section-hero {
  background-color: #2f303a;
  /* background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    background-image: $grsdient-hero,
      url(../../images/mobile/section-hero/Hero-x1-mob.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: $grsdient-hero,
      url(../../images/tablet/section-hero/Hero-x1-tab.jpg);
  }

  @media screen and (min-width: 1200px) {
    background-image: $grsdient-hero,
      url(../../images/desktop/section-hero/Hero-x1-des.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .section-hero {
    @media screen and (min-width: 320px) and (max-width: 767px) {
      background-image: $grsdient-hero,
        url(../../images/mobile/section-hero/Hero-x2-mob.jpg);
    }

    @media screen and (min-width: 768px) {
      background-image: $grsdient-hero,
        url(../../images/tablet/section-hero/Hero-x2-tab.jpg);
    }

    @media screen and (min-width: 1200px) {
      background-image: $grsdient-hero,
        url(../../images/desktop/section-hero/Hero-x2-des.jpg);
    }
  }
}

// эт только Х1 и Х2 для фона героя))))
// Кстати обратите внимание на градиент (сделал переменной),
// его нужно при каждом переломе вьюпорта прописывать.
// если один раз к секции то он не работает\
// Фон при Х1 по умолчанию стоит, когда ретина то установить  х2
