.work {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
    min-width: 1200px;
  }
  padding-bottom: 94px;

  &-list {
    display: flex;

    &-li:not(:last-child) {
      margin-right: 30px;
    }

    &-item-wrap {
      position: relative;
    }

    &-text-container {
      display: flex;
    }

    &-overlay {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 27px;
      padding-bottom: 27px;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--text-color-white);
      background-color: rgba(47, 48, 58, 0.8);
    }
  }
}
