*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  &.modal-open {
    overflow: hidden;
  }
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
